@{
    ViewData["Title"] = "Admin Options";
}

<div class="text-center">
    <h2>Admin Options</h2>
    <a href="@Url.Action("AdminRegister", "Home")" class="btn btn-primary">Register</a>
    <a href="@Url.Action("AdminLogin", "Home")" class="btn btn-secondary">Login</a>
</div>