@{
    ViewData["Title"] = "User Options";
}

<div class="text-center">
    <h2>User Options</h2>
    <a href="@Url.Action("UserRegister", "Home")" class="btn btn-primary">Register</a>
    <a href="@Url.Action("UserLogin", "Home")" class="btn btn-secondary">Login</a>
</div>